<%= turbo_stream.replace "meal_board" do %>
  <div id="meal_board" class="pb-24 lg:pb-6">
    <%= render "board", meals: @meals, meal: @meal %>
  </div>
<% end %>

<%# Keeps the "Aujourd'hui" quick-entry card in sync when it's on screen.
    Ignored on the dedicated page, where this target is absent. %>
<%= turbo_stream.replace "today_meal_card" do %>
  <div id="today_meal_card">
    <%= render "tasks/meal_card" %>
  </div>
<% end %>
